* {
  font-family: monospace;
  color: #444444;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

#container {
  margin: 0;
  padding: 5px;
  gap: 5px;
  border: 1px solid #767676;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 2px;
  background-color: rgb(172, 172, 172);
}

#upper {
  height: 120px;
  width: 555px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #efefef;
  border: 1px solid #767676;
  border-radius: 2px;
}

#middle {
  width: 557px;
  height: 75px;
  display: flex;
  gap: 5px;
}

#lower {
  height: 559px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  align-items: center;
  width: 559px;
}

.cell {
  height: 136px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#upper p {
  flex: 1;
  margin: 0;
  font-size: 92px;
}

.cell button {
  height: calc(100% - 2px);
  aspect-ratio: 1/1;
  margin: 0px;
  font-size: 50px;
}

#middle button {
  height: 100%;
  flex: 1;
}